<h2>performances</h2>

<table>
  <tr>
    <td>Value:</td>
    <td><%= number_to_currency(@value, :unit => "￥") %></td>
  </tr>
  <tr>
    <td>Principal:</td>
    <td><%= number_to_currency(@principal, :unit => "￥") %></td>
  </tr>
  <tr>
    <td>Gain and loss:</td>
    <td><%= number_to_currency(@value - @principal, :unit => "￥") %></td>
  </tr>
</table>

<br />

